@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden scroll-smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-green-950 text-white font-jost tracking-wider;
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
  @apply text-[1.5rem] md:text-2xl lg:text-4xl  font-bold;
}

.nav-link {
  @apply text-white hover:underline hover:text-yellow-400 transition duration-300 text-sm lg:text-lg font-bold;
}

.btn {
  @apply  bg-yellow-500 border border-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-5 rounded-md duration-300;
}

.btn span {
  @apply font-bold;
}

.btn-outline {
  @apply bg-transparent hover:bg-yellow-500;
}

/* styles.css */
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl;
}

.title {
  @apply font-lobster text-yellow-500;
}

.swiper-pagination {
  position: absolute !important;
  bottom: -1.5rem !important; /* Adjusted to 5rem from the top */
  height: 3rem !important; /* Height of 3rem */
}

.swiper-pagination-bullet {
  background-color: #22c55e !important; /* Tailwind green-500 */
  width: 0.75rem !important; /* w-3 = 12px */
  height: 0.75rem !important; /* h-3 = 12px */
  border-radius: 9999px !important; /* rounded-full */
}

.footer a {
  @apply w-fit hover:text-yellow-400 transition duration-300;
}